<h4 class="navbar-text"><%= link_to "Back",root_path %></h4>
    

    <div class="container">

      <div class="starter-template">
        <h3>Learn to Build a Ruby on Rails App Using Data from the Instagram API </h3>
        <h3 class="lead">This beginners guide will give YOU the ability to create custom web apps on your own quicker & easier than before.</br>

        Working with API's may seem difficult but this interesting and informative course will give you the knowledge you need to create your own web apps and more.</h3>

        <blockquote>In the world of cloud computing, API's are the NEW currency" - S Somasegar, Microsoft VP of its developer division.</blockquote>


        <h3>The course is suitable for beginners. So if you want to turn ideas into reality. Start today!</h3></br>
        <hr>

        <h3><strong>Why Instagram ?</strong></h3>

        <h3 class="lead">There's no need to reinvent the wheel! Instagram is one of the most popular API's out there and is used by millions of developers.

        If you printed and stacked the 21.9 billion photos uploaded to Instagram every year it would reach 6,351 kilometres! </h3>

        <h3><strong>Why Ruby on Rails ?</strong></h3>


         <h3 class="lead"> Ruby on Rails is one of the most pleasant technologies to learn and use. It makes doing common tasks easy to implement with little code
        Its open source , and has a strong community
        Lots of startups are hiring for Ruby on Rails.
        Ruby on Rails is full-stack
        Ruby on Rails is one of the fastest, cleanest, and the least-headache creating technology out there for creating web apps and mobile apps in the shortest amount of time.
        Learning to build and launch an app is the biggest skill you can learn - look at Airbnb , Pinterest , Dropbox, etc . <b>Coding is THE number 1 skill you can learn and you will learn</b></h3>
        

         <h3><strong>Who is this Course For ?</strong></h3>

        <h3 class="lead"> You are learning about web development
        Anyone looking to build a project using the Instagram API
        Developers who use API's
        Anyone new to API's who want more information
        You have an idea for a web application but don't know where to start?
        Want skills to attend a hackathon and create something awesome!.
        You want to build an interactive website for your mom!</h3>

        <h3><strong>What will you learn ?</strong></h3>

        <h3 class="lead"> 
        <ul>
          <li>What is an API?</li>
          <li>The value of using API's</li>
          <li>Web API Examples</li>
          <li>Best practices of using API's</li>
          <li>How an API works</li>
          <li>Introduction to Ruby</li>
          <li>Introduction to Rails</li>
          <li>Console Basics</li>
          <li>Improve your app's appearance with Bootstrap and Font Awesome</li>
          <li>Using Git</li>
          <li>Using Heroku</li>
          <li>Google Fonts</li>
          <li>How to register an Instagram App so that you can use the Instagram API</li>
          <li>Front end programming languages - HTML/CSS & bit of javascript as well!</li>
          <li>How to code, a Ruby on Rails Web application and make an API call to Instagram</li>
          <li>Build an search capable data-driven Ruby on Rails application</li>
          <li>How to protect your API settings (Very Important)</li>
          <li>Getting it online using Heroku.</li>
         
          <li><b>BONUS</b> Learn how to implement the Facebook API & Google API</li>
          <ul>
          </h3>


        <h3 class="lead"> The course is divided into easy to navigate sections with over 1 hour of clear, engaging video tutorials and practical website challenges. Everything you need to know about building and launching your own app.</h3>

        <h3 class="lead"> 
        No need to be a developer or technical wiz! Don't worry if you don't know what the command-line or a text editor is! </h3>

        <h3 class="lead"> Start today! Email hello at neilpatel dot co to register</h3>

        <h3 class="lead"><b> P.S

        "Learning is not a spectator sport" - D. Blocher</b></h3>


  </div>

</div><!-- /.container -->

    


  
