

<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">

      <br /><br />

      <h1> About </h1>

      <p>Learn to Build a Ruby on Rails App Using Data from the Instagram API
      This beginners guide will give YOU the ability to create custom web apps on your own quicker and easier than before.</p> </br>

      <p>Working with API's may seem difficult but this interesting and informative course will give you the knowledge you need to create your own web apps and more.</p>

      <p>In the world of cloud computing, API's are the NEW currency" - S Somasegar, Microsoft VP of its developer division</p>


      <p>The course is suitable for beginners. So if you want to turn ideas into reality. Start today</p>

</nav>

  <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
  <i class="fa fa-info-circle fa-lg"></i>
  </button>





<div class="jumbotron center">
  <h1><i class="fa fa-instagram fa-1x"></i> Find Insta</h1>
  <p>Instagram Curiosity Satisfied</p>
  <br>
     <form class="col-lg-12">
            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input type="text" name="q" class="center-block form-control input-lg" title="Search Instagram photos." placeholder="Search Instagram Photos">
              <span class="input-group-btn"><button class="btn btn-lg btn-success" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
          </form>
  <br>
</div>

<div class="container">
  <div class="row">
        <% @search.each do |instagram| %>
        <div class="col-sm-8 col-md-4">
              <div class="profile-panel">
                   <div class="thumbnail"><%= image_tag instagram.images.low_resolution.url %>  
                   </div>

                   <div class="profile-image"><%= image_tag instagram.user.profile_picture %>
                   </div>

              </div>
                <h4 class="caption"><%= truncate(instagram.caption.text, length: 20) %></h4>
        </div>
        <% end %>
  </div>   
</div>




 
   
  
        
  



