<h4 class="navbar-text"><%= link_to "About", about_path %></h4>

<div class="jumbotron center">
  <h1><i class="fa fa-instagram fa-1x"></i> Find Insta</h1>
  <p>Seek & Find Your Favorite Instagrams </p>
  <br>
     <form class="col-lg-12">
            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input type="text" name="q" class="center-block form-control input-lg" title="Search Instagram photos." placeholder="Search Instagram Photos">
              <span class="input-group-btn"><button class="btn btn-lg btn-success" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
          </form>
  <br>
</div>


<div class="container">
    <div class="row">
        <% @search.each do |instagram| %>
        <div class="col-sm-8 col-md-4">
          <div class="profile-panel">
          <div class="image-circle">
              <p>info</p>
          </div>

           <div class="thumbnail"><%= image_tag instagram.images.low_resolution.url %></div>
           </div>
        </div>
         <% end %>
    </div>
</div>



 
   
  
        
  



