// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(//fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

body {
  background-color: #FAFAF5;
  }

.jumbotron {

  text-align: center;
  background-color: white;
  height: 350px;


  h1 {
  padding-top: 20px;
  font-family: 'Pacifico', 'Helvetica Neue', Helvetica;
  color: #330000;
  font-weight: 400;
  font-size: 4em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000;
  }


  
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}



    .follow-us-container
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .follow-us
    {
        font-size: 32px;
        color: #777;
    }

    .social-icon
    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid #777;
        border-radius: 50%;
        color: #777;
        margin: 5px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus
    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }




