<div class="container follow-us-container">
    <div class="text-center follow-us">
        Follow
    </div>
    <br />
    <div class="text-center">
        <a class="fa fa-twitter social-icon" href="http://twitter.com/NeilP666" target="_blank"></a>
        <a class="fa fa-external-link social-icon" href="http://www.neilpatel.co" target="_blank"></a>
        
    </div>
</div>
